<template>
  <div class="badgeclassCard">
    <h3><router-link :to="badgelink()">{{ badge.name }}</router-link></h3>
    <p>{{ badge.description }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { BadgeClass } from '../store/badgeclasses/types';

@Component
export default class BadgeClassCard extends Vue {
  @Prop() public badge!: BadgeClass;

  private badgelink(): string { return '/badges/' + this.badge.id; }
}
</script>

<style scoped lang="scss">
.badgeclassCard {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  padding: 0.5em;
}
.badgeclassCard p {
  color: #666;
}
</style>
