<template>
  <div>
    <p>This is a list of badges from the current profile</p>
    <div class="badgelist">
      <BadgeClassCard v-for="badge in badges" v-bind:key="'badgeclass:' + badge.id" :badge="badge" />
    </div>
    <div class="newBadgeForm">
        <h3 class="newBadgeForm__title">Define a new Badge</h3>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-name">Name</label>
          <input type="text" name="newBadgeForm-name" v-model="newBadgeName" placeholder="Badge Name"/>
        </div>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-description">Description</label>
          <textarea type="text" name="newBadgeForm-description" placeholder="This badge represents..." v-model="newBadgeDescription" />
        </div>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-criteria">Criteria</label>
          <textarea type="text" name="newBadgeForm-criteria" placeholder="What does it take to earn this badge?" v-model="newBadgeCriteria" />
        </div>
        <div class="newBadgeForm__submitControls">
          <button class="newBadgeForm__submit" @click="addBadge">Add Badge</button>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action, Getter, Mutation } from 'vuex-class';
import uuid4 from 'uuid/v4';

import BadgeClassCard from '../components/BadgeClassCard.vue';
import { Profile } from '../store/common/types';
import { BadgeClass } from '../store/badgeclasses/types';
import { ProfileState } from '../store/profiles/types';
import { RootState } from '../store/types';

@Component({
  components: {
    BadgeClassCard,
  },
})
export default class BadgeList extends Vue {
  @Getter('getBadgesByProfile', {namespace: 'badgeclasses'}) public badges!: BadgeClass[];
  @Getter('currentProfile',  { namespace: 'profiles' }) public currentProfile!: Profile;
  @Mutation('addBadgeClass', {namespace: 'badgeclasses'}) public commitNewBadgeClass!: (badge: BadgeClass) => void;

  private newBadgeName = '';
  private newBadgeDescription = '';
  private newBadgeCriteria = '';

  private addBadge() {
    this.commitNewBadgeClass({
      id: 'urn:uuid' + uuid4(),
      name: this.newBadgeName,
      description: this.newBadgeDescription,
      criteria: {
        narrative: this.newBadgeCriteria,
      },
      image: 'data:image/png;base64,abc123',
      issuer: this.currentProfile.id,
    });
    this.newBadgeName = '';
    this.newBadgeDescription = '';
    this.newBadgeCriteria = '';
  }
}
</script>

<style scoped lang="scss">
.badgelist {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
  margin: 0 0.5em 2em;
}

.newBadgeForm {
  width: auto;
  margin: auto 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
}

.newBadgeForm__inputGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 1em auto;
  label {
    padding: auto 1em;
    text-align: right;
  }
  input, textarea {
    margin: auto 1em;
    font-size: 16px;
    line-height: 2em;
    padding: 0 0.5em;
    border: 0.5px solid #ccc;
  }
  textarea {
    resize: vertical;
    min-height: 3em;
  }
}
.newBadgeForm__submitControls {
  text-align: right;
}
.newBadgeForm__submit {
    font-size: 16px;
    font-face: inherit;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0 1em 1em auto;
    background-color: #42b983;
    color: #fff;
  }


</style>