<template>
  <div>
    <p>This is a list of badges from the current profile</p>
    <div class="badgelist">
      <BadgeClassCard v-for="badge in badges" v-bind:key="'badgeclass:' + badge.id" :badge="badge" />
    </div>
    <div class="newBadgeForm">
        <h3 class="newBadgeForm__title">Define a new Badge</h3>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-name">Name</label>
          <input type="text" name="newBadgeForm-name" v-model="newBadgeName" placeholder="Badge Name"/>
        </div>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-description">Description</label>
          <textarea type="text" name="newBadgeForm-description" placeholder="This badge represents..." v-model="newBadgeDescription" />
        </div>
        <div class="newBadgeForm__inputGroup">
          <label for="newBadgeForm-criteria">Criteria</label>
          <textarea type="text" name="newBadgeForm-criteria" placeholder="What does it take to earn this badge?" v-model="newBadgeCriteria" />
        </div>
        <div class="newBadgeForm__submitControls">
          <button class="newBadgeForm__submit" @click="addBadge">Add Badge</button>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action, Getter, Mutation } from 'vuex-class';
import uuid4 from 'uuid/v4';

import BadgeClassCard from '../components/BadgeClassCard.vue';
import { Profile } from '../store/common/types';
import { BadgeClass } from '../store/badgeclasses/types';
import { ProfileState } from '../store/profiles/types';
import { RootState } from '../store/types';

@Component({
  components: {
    BadgeClassCard,
  },
})
export default class BadgeDetail extends Vue {
  @Getter('getBadgesByProfile', {namespace: 'badgeclasses'}) public badges!: BadgeClass[];
  @Getter('currentProfile',  { namespace: 'profiles' }) public currentProfile!: Profile;
}
</script>

<style scoped lang="scss">

</style>