<template>
  <div class="profile">
    <h1>Profile: </h1>
    <p>name: {{ currentProfile.name }}</p>
    <p>description: {{ currentProfile.description }}</p>
    <p><a href="currentProfile.url" target="_blank">{{ currentProfile.url }}</a></p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';

import { Profile } from '../store/common/types';
import { ProfileState } from '../store/profiles/types';
import { RootState } from '../store/types';

@Component
export default class ProfileEditor extends Vue {
  @State('profiles', { namespace: 'profiles' }) public profiles!: ProfileState;
  @Getter('currentProfile',  { namespace: 'profiles' }) public currentProfile!: Profile;
}
</script>
